<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/static/pure-min.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/grids-responsive-min.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/pygments.css"|url }}" />
    <link rel="stylesheet" href="{{ "/static/style.css"|url }}" />

    <title>{% block title %}Welcome{% endblock %} — The Universal Playlist Format Specification</title>
</head>

<body>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <div class="legal pure-g">
            <div class="pure-u-1 pure-u-sm-3-5">
                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
                <p class="legal-license">
                This site is hosted on the fantastic <a href="https://www.netlify.com">Netlify</a>.
                </p>
            </div>

            <div class="pure-u-1 pure-u-sm-1-5"></div>
            <div class="pure-u-1 pure-u-sm-1-5">
                <ul class="legal-links">
                    <li><a href="https://gitlab.com/universal-playlist/universal-playlist-spec">Gitlab project</a></li>
                    <li><a href="https://gitlab.com/universal-playlist/universal-playlist-spec/issues">Issue tracker</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

