a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

.content {
    max-width: 980px;
    margin: 0 auto;
    background: #fff;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 4em;
    padding: 1.1429em;
    background: rgb(250, 250, 250);
}

a.anchor {
    visibility: hidden;
}

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor,
dt:hover > a.anchor {
    visibility: visible;
    text-decoration: none;
}

.legal {
    line-height: 1.6;
    margin: 0 auto;
    font-size: 87.5%;
    max-width: 980px;
}

    .legal-license {
        margin-top: 0;
    }
    .legal-links {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .legal-copyright {
        margin-top: 0;
        margin-bottom: 0;
    }
